.box{
    background-color: #2892D7;
    width: 100%;
    color: rgb(252, 233, 207);
    padding: 4%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.doctor-dets{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-bottom: -2%;
    width: 100%;
    justify-content: space-between;
}